.Psychle {
  text-align: left;
}

.Psychle-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.Psychle-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Psychle-title {
  font-size: 1.5em;
}

.Psychle-intro {
  font-size: large;
}

@keyframes Psychle-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
